<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdsoft.motoactv_export"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name="com.sdsoft.motoactv_export.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="SettingsActivity"
            android:label="@string/title_settings" />

        <receiver android:name="com.sdsoft.motoactv_export.WorkoutComplete" >
            <intent-filter>
                <action android:name="com.motorola.android.intent.action.WORKOUT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.sdsoft.motoactv_export.ConnectivityReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.sdsoft.motoactv_export.SYNC_Service"
            android:icon="@drawable/ic_launcher"
            android:label="MOTOACTV_EXPORT" >
        </service>

        <activity
            android:name="com.sdsoft.motoactv_export.WebActivity"
            android:label="@string/title_activity_web" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sdsoft.motoactv_export.MainActivity" />
        </activity>
    </application>

</manifest>

